    /**
    * @name Sakura Mochi
    * @author @bypass_
    * @version 0.1.0
    * @description Match Omarchy Sakura Mochi palette on the Sakurazuki shell.
    * @source https://github.com/imbypass/base16-discord
    **/
    @import url("https://imbypass.github.io/base16-discord/omarchy-discord.theme.css");

    :root {
        --color00: #0b0d11;
        --color01: #0b0d11;
        --color02: #0b0d11;
        --color03: #f5edf0;
        --color04: #efd6dd;
        --color05: #e2c2cc;
        --color06: #d8c6cc;
        --color07: #d8c6cc;
        --color08: #d8c6cc;
        --color09: #d7be96;
        --color10: #d7be96;
        --color11: #356a46;
        --color12: #6f9485;
        --color13: #d86f9d;
        --color14: #e2c2cc;
        --color15: #e6d3b4;
    }
