@define-color bg #0b0d11;
@define-color fg #e2c2cc;
@define-color gray1 #4a5d46;
@define-color gray2 #4a5d46;
@define-color gray3 #d86f9d;
@define-color gray4 #d7be96;
@define-color gray5 #e2c2cc;
@define-color fg_bright #e2c2cc;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}
